@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;1,700&family=Rubik:wght@400;500;700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }
  p {
    font-family: "Ubuntu", sans-serif;
  }
  h1,
  h2,
  h3 {
    font-family: "Rubik", sans-serif;
  }
  h4,
  h5,
  h6 {
    font-family: "Poppins", sans-serif;
  }
}
